@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
::-webkit-scrollbar {
    display: none;
}

body {
    background-color: black;
    color: white;
    overflow-x: hidden;
}

nav {
    background-color: black;
}

.navbar-brand:hover {
    color: red;
}

.navbar-brand {
    color: white;
    font-size: 1.2rem;
}

#links:hover {
    color: red;
}

#links {
    color: white;
    text-decoration: none;
    margin: 0.5rem;
}

footer {
    background-color: black;
    color: white;
}

i {
    color: white;
    margin: 0.3rem;
}

.bi:hover {
    color: red;
}

.bi {
    font-size: 1.5rem;
}
h2{
    font-size: 72px;
 
}

/* #202124 */